html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("https://cdn.wallpapersafari.com/40/28/F2gCxR.png") no-repeat;
  background-position: bottom;
  /* background-color: #95e8f3; */
  background-size: 100% 100%;
  background-position: center;
  min-height: 100%;
}

form {
  padding: 20px;
  margin-top: 35px;
}

form button,
form h5 {
  margin: 11px 0;
}

.pink {
  margin-left: 10px;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ec407a;
  box-shadow: none;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label {
  color: #ec407a !important;
}
